.background-fullsize {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #000;
    @include linear-gradient(#ABBAAB, #FFFFFF);
}

body.login {
    @extend .background-fullsize;
    background-image: url('/images/badlands.png');
}
