.background-fullsize {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.login, body {
    @extend .background-fullsize;
    background-image: url('/images/badlands.png');
}
