textarea, input {
    outline: none;
}

.standard-input {
    border-radius: 1px;
}

.input-large {
    margin: 5px 0;
    padding: 0 10px;
    font-size: 17px;
    line-height: 20px;
    height: 40px;
}

.dark-field-input {
    border-color: rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.7);

    &:hover {
        border-color: rgba(255,255,255,0.7);
    }

    &:focus {
        border-color: $highlight;
    }
}

.login {
    .form-control {
        @extend .standard-input;
        @extend .input-large;
        @extend .dark-field-input;
    }
}
