body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: darken(#fff, 5%);
}

.loading-icon {
    
}
