$tooltip-item-padding: 3px;

.shards-tooltip {

    background-color: rgba(0,0,0,0.8);

    padding: $tooltip-item-padding;
    border-radius: $tooltip-item-padding;

    display: flex;

    img {
        border: 1px solid red;
        border-radius: $tooltip-item-padding;
        display: flex;

        margin-right: $tooltip-item-padding;
        margin-bottom: $tooltip-item-padding;
    }

    .name {
        display: flex;
        font-size: 1.4em;
    }

}
