.navbar-default {
    z-index: 99;
    background-color: transparentize(darken(#333D4E,10%), 0.1);
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgba(255,255,255,0.7);

    line-height: 50px;

    @include font-size(1.6);

    color: #fff;

    .navbar-toggle {
        &:hover, &:active, &:focus {
            background-color: transparent;
            color: #fff;
        }
    }

    .navbar-brand {
        padding-left: 15px;
        padding-top: 5px;
    }

    .navbar-nav {
        > li {
            > a {
                &:focus, &:hover {
                    color: #fff;
                }
            }
        }

        > .open {
            > a, > a:active, >a:hover, >a:focus {
                background-color: transparent;
                color: #fff;
            }
        }

        .active {
            >a, >a:focus, >a:hover {
                background-color: transparent;
                color: #fff;
            }
        }
    }

    .dropdown-menu {
        background-color: transparentize(darken(#333D4E,10%), 0.1);
        border: 1px solid rgba(255,255,255,0.5);
        border-top: 1px dashed rgba(0,0,0,0.7);

        > li {
            >a {
                color: lighten(#777,25%);
            }
            >a:hover {
                background-color: transparent;
                color: #fff;
            }
        }

        .divider {
            background-color: rgba(255,255,255,0.5);
        }
    }
}
